{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <section>
        <h4 class="border-bottom py-2">설문 목록</h4>
        <div class="row">
            {% if question_list %}
                {% for question in question_list %}
                <div class="col-4 my-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-text" style="line-height:2rem">
                                {{ question.question_text }}
                            </div>
                            <a href="{% url 'poll:detail' question.id %}"
                               class="btn btn-primary mt-5">투표하기 &raquo;</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>설문이 없습니다.</p>
            {% endif %}
        </div>
    </section>
</div>
{% endblock %}