{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <section>
        <h4 class="border-bottom py-2">투표 하기</h4>
        <div class="card my-3">
            <h5 style="margin:20px 100px 10px;">{{ question.question_text }}</h5>
            <form action="{% url 'poll:vote' question.id %}" method="post"
                  style="width:500px; margin:20px 120px;">
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger">
                    * {{ error }}
                </div>
                {% endif %}
                {% for choice in question.choice_set.all %}
                <p style="line-height:1.3rem">
                    <input type="radio" name="choice" id="choice" value="{{ choice.id }}">
                    <label for="choice">{{ choice.choice_text }}</label>
                </p>
                {% endfor %}
                <button type="submit" class="btn btn-success">투표</button>
            </form>
        </div>
    </section>
</div>
{% endblock %}