<footer class="p-2 bg-dark my-4">
    <div class="container">
        <ul class="list-inline">
            <li><a href="#">회사 소개</a></li>
            <li><a href="#">개인정보 처리방침</a></li>
            <li><a href="#">여행 약관</a></li>
            <li><a href="#">사이트 맵</a></li>
        </ul>
        <address>
            <p>대표이사 : 파이썬 | 대표전화 : 032-262-0600 | E-MAIL : meta@bus.net</p>
            <p>주소 : 인천시 부평구 경원대로 1366 상록스테이션 5층</p>
            <p>사업자 등록 번호 : 000-00000</p>
        </address>
    </div>
</footer>